.jumbotron {
  background-color: rgb(196, 63, 1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#start {
  background-color: rgb(77, 216, 186);
  position: fixed;
  left: auto;
  margin-top: 60px;
}

.card {
  margin-left: 200px;
  margin-top: 50px;
}

input[type="radio"] {
  vertical-align: middle;
}
#a-text,
#b-text,
#c-text,
#d-text {
  vertical-align: middle;
}
.hide {
  display: none;
}

#quest {
  margin-left: 50px;
}

.start-btn {
}
