.body-qpage {
  margin-top: 50px;
}

.jumbotron {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#start {
  background-color: rgb(77, 216, 186);
  position: fixed;
  left: auto;
  margin-top: 60px;
}

.start-btn {
}
